@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* ---------- Variables ---------- */

$white: #fff;
$yellow: #ffcc00;
$brown: #662e0a;
$text-black: #212529;
$black: #000;

@import "../css/aboutUs.scss";
@import "../css/contactUs.scss";
@import "../css/gallery.scss";
